@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply h-4 w-2;
  }

  ::-webkit-scrollbar:horizontal {
    @apply h-4 w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-green-400 border border-white rounded;
  }
}

@layer components {
  .user-bubble,
  .assistant-bubble {
    @apply inline-block max-w-[80%] sm:max-w-[450px] py-2 px-4 rounded-2xl;
  }

  .user-bubble {
    @apply bg-green-200 text-black;
  }

  .assistant-bubble {
    @apply self-end bg-green-500 text-white;
  }

  .wave {
    @apply w-10 h-10 rounded-full bg-lime-500 relative;
    box-shadow: 0 0 0 0 rgba(132, 204, 22, 0.85);
    animation: l2 1.8s infinite linear;
    animation-play-state: paused;
  }
  .wave.running {
    animation-play-state: running;
  }
  .wave:before,
  .wave:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 rgba(132, 204, 22);
    animation: inherit;
    animation-delay: -0.6s;
  }
  .wave:after {
    animation-delay: -1.2s;
  }
}

@keyframes l2 {
  100% {
    box-shadow: 0 0 0 50px rgba(132, 204, 22, 0);
  }
}
