@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply h-4 w-2;
  }

  ::-webkit-scrollbar:horizontal {
    @apply h-4 w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-green-400 border border-white rounded;
  }
}

@layer components {
  .user-bubble,
  .assistant-bubble {
    @apply inline-block max-w-[80%] sm:max-w-[450px] py-2 px-4 rounded-2xl;
  }

  .user-bubble {
    @apply bg-green-200 text-black;
  }

  .assistant-bubble {
    @apply self-end bg-green-500 text-white;
  }
}
@keyframes slow-bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.slow-bounce {
  animation: slow-bounce 3s infinite;
}
